* {
    box-sizing: border-box;
}

#card-container {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    width: max-content;
    margin: 50px auto;
    padding: 20px;
    justify-content: center;
    visibility: hidden;
    box-shadow: 0px 0px 5px rgb(104, 104, 104), 0px 0px 20px rgb(180, 180, 180);
}
#card-question {
    margin: 10px auto;
    padding-bottom: 5px;
    height: 25%;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: justify;
}
#card-answers {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

#heading-title {
    margin: 50px auto;
    text-align: center;
    width: 60%;
}

#start-quiz {
  background-color: #bd4cea;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 40px;
  margin: 0 auto;
  padding: 10px 16px;
  text-align: center;
}

#start-quiz:hover {
  background-color: #bd85ea;
}
#card-footer {
    margin: auto;
}
input[type="submit"] {
    margin: 0 auto;
}
input[type="button"] {
    margin: 10px 0;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

input[type="button"]:hover {
    border: 2px solid black;
}

button[id="next-question"] {
    display: block;
    width: fit-content;
    margin: auto;

}
#time {
    text-align: center;
    margin: 10px;
}

.wrong {
    background-color: rgba(255, 98, 98, 0.486);
}

.correct {
    background-color: rgba(98, 255, 98, 0.486);
}